html {
    height: 100%;
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}



/*mobil*/
@media (max-width: 650px) {

    /*
    #page-container {
        position: relative;
        min-height: 100vh;
    }
    #content-wrap {
        padding-bottom: 1rem;
         Footer height
    }
*/
    header {
        background-color: #F4C425;

    }

    header {
        display: block;


    }


    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;


    }

    .toggle {
        display: none;
    }


    #knap {
        grid-column-start: 3;
        margin-top: 0;
        text-align: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }




    nav a {
        line-height: 0.2rem;
        display: block;
        padding: 30px;
        padding-top: 20px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
    }


    .overskrift h1 {
        padding-top: 15px;
        padding-left: 20px;
        float: left;
        display: inline-flex;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue', cursive;

    }


    a:hover {
        color: #ED5242;
    }

    h1:hover {
        color: #ED5242;
    }


    #knap:hover {
        color: #ED5242;
    }



    /*footer*/


    footer {
        position: absolute;

    }

    footer {
        width: 100vw;
        background-color: #F4C425;
        text-align: left;
        padding: .50rem;
        height: 25vw;

    }




    footer h2 {
        font-size: 17px;
        margin-left: 1rem;
        margin-top: 1rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    footer h3 {
        font-size: 17px;
        margin-left: 1rem;
        margin-top: 1rem;
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    footer h4 {
        font-size: 17px;
        margin-top: -3.5rem;
        margin-left: 18rem;
        font-family: 'Bebas Neue', cursive;
        color: white;

    }

    .facebook h1 {
        width: 2.9rem;
        height: 2.9rem;
        float: right;
        margin-right: 1.4rem;
        margin-top: 0.2rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
        color: #ED5242;
    }

    .instagram h1 {
        width: 2.9rem;
        height: 2.9rem;
        float: right;
        margin-right: -2.5rem;
        margin-top: 1.7em;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
        color: #ED5242;
    }

    #overskrift h2 {
        margin-top: 5rem;
        font-size: 3.4rem;
        padding-left: 40px;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }



    #tekst h3 {
        text-align: left;
        position: relative;
        margin-top: -23rem;
        padding-bottom: 80px;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;

    }

}



/*billeder*/

#billede1 img {
    position: absolute;
    width: 53%;
    padding-left: 22px;
    margin-top: 14rem;
    opacity: 1.0;
}

#billede1 img:hover {
    opacity: 0.5;
}

#billede2 img {
    width: 230px;
    height: 315px;
    margin-left: 7rem;
    padding-top: 10px;
    opacity: 1.0;
}

#billede2 img:hover {
    opacity: 0.5;
}

.trans_box {
    margin-top: 12rem;
    min-width: 400px;
    height: 300px;
    background-color: #F2ECE2;
    opacity: 0.4;
    padding-bottom: 100px;
}

/*desktop*/
@media (min-width: 650px) {

    header {
        background-color: #F4C425;

    }

    header {
        display: block;

    }


    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        padding-top: 40px;

    }

    .overskrift h1 {
        padding-top: 60px;
        padding-left: 20px;
        float: left;
        display: inline-flex;
        font-size: 40px;
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }





    nav {
        display: block;
        text-align: right;
        margin-right: 30px;


    }

    nav a {
        display: inline-flex;
        padding: 15px;
        padding-top: 30px;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-family: 'Bebas Neue', cursive;


    }

    p {
        display: none;
    }

    a:hover {
        color: #ED5242;
    }

    h1:hover {
        color: #ED5242;
    }

    #knap:hover {
        color: #ED5242;
    }

    /*footer*/
    footer p {
        line-height: 1;
    }



    footer {
        width: 100vw;
        background-color: #F4C425;
        color: black;
        text-align: left;
        padding: .40rem;
        height: 10vw;
    }

    footer h2 {
        font-size: 20px;
        margin-left: 2rem;
        margin-top: 1.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    footer h3 {
        font-size: 20px;
        margin-left: 2rem;
        padding-top: 15px;
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    footer h4 {
        font-size: 20px;
        margin-top: -3.9rem;
        float: right;
        margin-right: 1.8rem;
        font-family: 'Bebas Neue', cursive;
        color: white;

    }

    .facebook h1 {
        width: 2.9rem;
        height: 2.9rem;
        float: right;
        margin-right: 3rem;
        margin-top: -2.1rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 21px;
        color: #ED5242;
    }

    .instagram h1 {
        width: 2.9rem;
        height: 2.9rem;
        float: right;
        margin-right: -2.4rem;
        margin-top: -0.2rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 21px;
        color: #ED5242;
    }


    #overskrift h2 {
        margin-top: 8rem;
        font-size: 5.5rem;
        padding-left: 150px;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #tekst h3 {
        position: relative;
        text-align: left;
        margin-top: -20rem;
        padding-bottom: 60px;
        font-size: 2rem;
        margin-left: 3rem;
        margin-right: 6.2rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 200px;
    }

    /*billeder*/
    #billede1 img {
        position: absolute;
        width: 31%;
        margin-top: -1rem;
        margin-left: 20rem;
        opacity: 1.0;
    }

    #billede1 img:hover {
        opacity: 0.5;
    }

    #billede2 img {
        width: 450px;
        height: 612px;
        margin-left: 59rem;
        margin-top: -1.57rem;
    }

    .trans_box {
        margin-top: 3rem;
        min-width: 200px;
        height: 300px;
        background-color: #F2ECE2;
        opacity: 0.4;
        padding-bottom: 100px;
    }



}
