html {
    height: 100%;
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}



/*mobil*/
@media (max-width: 650px) {


    header {
        background-color: #F4C425;

    }

    header {
        display: block;


    }


    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;


    }

    .toggle {
        display: none;
    }


    #knap {
        grid-column-start: 3;
        margin-top: 0;
        text-align: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }




    nav a {
        line-height: 0.2rem;
        display: block;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
    }


    .overskrift h1 {
        padding-top: 15px;
        padding-left: 20px;
        float: left;
        display: inline-flex;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }


    a:hover {
        color: #ED5242;
    }

    h1:hover {
        color: #ED5242;
    }


    #knap:hover {
        color: #ED5242;
    }


    #overskrift h2 {
        text-align: center;
        margin-top: 3rem;
        font-size: 2.5rem;
        padding-left: 2px;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }



    #tekst h3 {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.2rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: white;
    }

    #pilotprojekt h2 {
        text-align: center;
        padding-top: 35px;
        font-size: 2.3rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }




    #link_pilotprojekt h3 {
        text-align: center;
        padding-top: 5px;
        font-size: 1.8rem;
        padding-left: 2px;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 30px;
    }

    #galleri h2 {
        text-align: center;
        margin-top: 4rem;
        font-size: 2.3rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }


    #link_galleri h3 {
        text-align: center;
        padding-top: 5px;
        font-size: 1.8rem;
        padding-left: 2px;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 30px;
    }

    #redesign h2 {
        text-align: center;
        margin-top: 3rem;
        font-size: 2.3rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    .link_redesign h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 2.5rem;
        padding-left: 2px;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #link_redesign h3 {
        text-align: center;
        padding-top: 5px;
        font-size: 2.5rem;
        padding-left: 2px;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
    }

    #temadokumentation h2 {
        text-align: center;
        padding-top: 30px;
        font-size: 2.5rem;
        padding-left: 2px;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #link_temadokumentation h3 {
        text-align: center;
        padding-top: 5px;
        font-size: 2.5rem;
        padding-left: 25px;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 40px;
    }
}



/*billeder*/

.styletile img {
    width: 90%;
    height: 10%;
    padding-top: 50px;
    margin-left: 20px;
}

#moodboard img {
    width: 90%;
    height: 10%;
    padding-top: 50px;
    margin-left: 20px;
    padding-bottom: 30px;
}

#stormfysik img {
    width: 90%;
    height: 10%;
    padding-top: 10px;
    margin-left: 20px;
}

#logo img {
    width: 90%;
    height: 10%;
    padding-top: 10px;
    margin-left: 20px;
}



#styletile img {
    width: 90%;
    height: 10%;
    padding-top: 10px;
    margin-left: 20px;
}

.grey_box2 {
    background-color: #D0D0D0;
    height: 165px;
    min-width: 200px;
    margin-top: -8rem;
}

#galleri_tekst {
    text-align: center;
    position: absolute;
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-left: 0rem;
    margin-right: 1rem;
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
}

#grey_box_galleri {
    background-color: #D0D0D0;
    height: 260px;
    min-width: 200px;
    margin-top: 2rem;
}


#redesign_tekst {
    text-align: center;
    position: absolute;
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-left: 0rem;
    margin-right: 1rem;
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
}

#grey_box_redesign {
    background-color: #D0D0D0;
    height: 800px;
    min-width: 200px;
    margin-top: 2rem;
}

/*footer*/


footer {
    position: absolute;

}

footer {
    width: 100vw;
    background-color: #F4C425;
    text-align: left;
    padding: .50rem;
    height: 25vw;

}




footer h2 {
    font-size: 17px;
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: 'Bebas Neue', cursive;
    color: #ED5242;
}

footer h3 {
    font-size: 17px;
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: 'Bebas Neue', cursive;
    color: white;
}





footer h4 {
    font-size: 17px;
    margin-top: -3.5rem;
    margin-left: 18rem;
    font-family: 'Bebas Neue', cursive;
    color: white;

}


.facebook h1 {
    width: 2.9rem;
    height: 2.9rem;
    float: right;
    margin-right: 1.4rem;
    margin-top: 0.2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: #ED5242;
}

.instagram h1 {
    width: 2.9rem;
    height: 2.9rem;
    float: right;
    margin-right: -2.5rem;
    margin-top: 1.7em;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: #ED5242;
}

/*desktop*/
@media (min-width: 650px) {

    header {
        background-color: #F4C425;

    }

    header {
        display: block;

    }


    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        padding-top: 40px;

    }

    .overskrift h1 {
        padding-top: 60px;
        padding-left: 20px;
        float: left;
        display: inline-flex;
        font-size: 40px;
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }





    nav {
        display: block;
        text-align: right;
        margin-right: 30px;


    }

    nav a {
        display: inline-flex;
        padding: 15px;
        padding-top: 30px;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-family: 'Bebas Neue', cursive;


    }

    p {
        display: none;
    }

    a:hover {
        color: #ED5242;
    }

    h1:hover {
        color: #ED5242;
    }

    #knap:hover {
        color: #ED5242;
    }


    #overskrift h2 {
        text-align: left;
        padding-top: 70px;
        margin-left: 2rem;
        font-size: 3.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }



    #pilotprojekt h2 {
        position: absolute;
        margin-top: -30.8rem;
        margin-left: 67rem;
        font-size: 3.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #link_pilotprojekt h3 {
        position: absolute;
        font-size: 2.5rem;
        margin-left: 67rem;
        margin-top: -26rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 30px;
    }

    #redesign h2 {
        text-align: left;
        margin-top: -6rem;
        margin-left: 2.3rem;
        font-size: 3.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #galleri h2 {
        position: absolute;
        margin-top: -70rem;
        margin-left: 67rem;
        font-size: 3.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }


    #link_galleri h3 {
        position: absolute;
        margin-top: -65rem;
        margin-left: 67rem;
        font-size: 2.5rem;

        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 30px;
    }



    /*billeder*/

    #stormfysik img {
        width: 50%;
        margin-left: 2.4rem;
        padding-top: 100px;
    }

    #logo img {
        width: 40%;
        height: 10%;
        margin-top: -30rem;
        margin-left: 50rem;
    }

    #moodboard img {
        width: 40%;
        height: 10%;
        padding-top: 50px;
        margin-left: 2.5rem;
        padding-bottom: 30px;
    }

    #styletile img {
        width: 40%;
        height: 10%;
        margin-top: -40rem;
        margin-left: 50rem;
    }

    .link_redesign h2 {
        text-align: left;
        padding-top: 40px;
        font-size: 3.5rem;
        margin-left: 2.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #link_redesign h3 {
        text-align: left;
        margin-top: -3rem;
        font-size: 3rem;
        margin-left: 22rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 10px;
    }

    #temadokumentation h2 {
        text-align: left;
        padding-top: 30px;
        font-size: 3.5rem;
        margin-left: 2.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    #link_temadokumentation h3 {
        text-align: left;
        margin-top: -3rem;
        font-size: 3rem;
        margin-left: 24rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: black;
        padding-bottom: 50px;
    }

    #tekst h3 {
        position: absolute;
        margin-top: 7rem;
        font-size: 2rem;
        margin-left: 2.5rem;
        margin-right: 47rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: white;
    }

    .grey_box2 {
        background-color: #D0D0D0;
        height: 550px;
        min-width: 200px;
        margin-top: 4rem;
    }


    #galleri_tekst h3 {
        text-align: left;
        margin-top: -22.5rem;
        font-size: 2rem;
        margin-left: 2.5rem;
        margin-right: 47rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: white;
    }

    #grey_box_galleri {
        background-color: #D0D0D0;
        height: 500px;
        min-width: 200px;
        margin-top: 20rem;
    }


    #redesign_tekst h3 {
        text-align: left;
        margin-top: -30rem;
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 1rem;
        font-family: 'Darker Grotesque', sans-serif;
        color: white;
    }

    #grey_box_redesign {
        background-color: #D0D0D0;
        height: 130px;
        min-width: 200px;
        margin-top: 10rem;
    }


    /*footer*/
    footer p {
        line-height: 1;
    }



    footer {
        width: 100vw;
        background-color: #F4C425;
        color: black;
        text-align: left;
        padding: .40rem;
        height: 10vw;
    }

    footer h2 {
        font-size: 20px;
        margin-left: 2rem;
        margin-top: 1.5rem;
        font-family: 'Bebas Neue', cursive;
        color: #ED5242;
    }

    footer h3 {
        font-size: 20px;
        margin-left: 2rem;
        padding-top: 15px;
        font-family: 'Bebas Neue', cursive;
        color: white;
    }

    footer h4 {
        font-size: 20px;
        margin-top: -3.9rem;
        float: right;
        margin-right: 1.8rem;
        font-family: 'Bebas Neue', cursive;
        color: white;

    }

    .facebook h1 {
        width: 2.9rem;
        height: 2.9rem;
        float: right;
        margin-right: 3rem;
        margin-top: -2.1rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 21px;
        color: #ED5242;
    }

    .instagram h1 {
        width: 2.9rem;
        height: 2.9rem;
        float: right;
        margin-right: -2.4rem;
        margin-top: -0.2rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 21px;
        color: #ED5242;
    }

}
